// Dimensions
$hgt-topbar: 5rem;

$wdt-section-default: 90%;
$wdt-section-l: 1600px;
$wdt-section-m: 1400px;
$wdt-section-s: 1200px;

// Colors
$clr-brand-primary: #000000;
$clr-brand-secondary: #ff0000;

$clr-background: #ffffff;

$clr-shadow: #00000080;