// Dimensions
$hgt-topbar: 5rem;

$wdt-section-default: 90%;
$wdt-section-l: 1600px;
$wdt-section-m: 1400px;
$wdt-section-s: 1200px;

// Colors
$clr-brand-primary: #ffffff;
$clr-brand-secondary: #fbe000;

$clr-background: #031a64;
$clr-background-dk: darken($clr-background, 5%);

$clr-shadow: #00000080;